*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
/* general style navbar*/
.navbar {
    display: flex;
}
.navbar > ul {
    display: flex;
}
.navbar > ul > li {
    list-style-type: none;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
}
.navbar ul li a:hover {
    color: red;
    cursor: pointer;
}
p a {
    text-decoration: none;
    color: black;
}
p a:hover {
    color: red;
}
/* navbar head and main */
.head {
    height: 7vw;
    align-items: center;
    justify-content: space-between;
}
.head ul:last-child {
    width: 25vw;
}
.head ul li {
    margin: 4%;
}
.head ul:last-child li:first-child a:first-child {
    color: blue;
}
.head ul:last-child li:first-child a:first-child:hover {
    color: red;
}
/* navbar main */
.main ul li{
    margin: 2em;
}
.main ul li:first-child a:first-child{
    color: red;
}
.main ul li:first-child a:first-child:hover{
    color: blue;
}
/* General section style */
.part{
    display: grid;
    margin: 4em;
}
.part article {
    width: 60%;
    justify-self: center;
    margin: 3em;
}
article > h2 {
    margin-bottom: 0.5em;
}
.part p {
    margin-top: 1.5em;
}
/* each section */
.one{
    justify-items: center;
}
.one h2 a {
    text-decoration: none;
}
.one h2 a:hover {
    color: red;
}
/* section two */
.two {
    justify-items: end;
    grid-template-areas: 
    'aside content'
    'article article'
    ;
}
.two figure:first-child {
    grid-area: aside;
    display: flex;
    align-items: center;
    left: 7vw;
    position: relative;
    
}
.two figure:first-child img{
    width: 40vw;
    height: 35vh;
}
.two aside {
    grid-area: content;
    background-color: #fbffa7;
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two aside img {
    width: 25vw;
    height: 25vh;
}
.implicit {
    grid-area: article;
}
/* section three */
.three {
    justify-items: center
}
 video {
    width: 80vw;
    height: 80vh;
}
/* section four */
.four {
    justify-items: start;
    grid-template-areas: 
    'aside content'
    'article article'
    ;
}
.four aside {
    grid-area: aside;
    background-color: #b6ffc0;
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.four aside img {
    margin: 3em;
    width: 25vw;
    height: 25vh;
    box-sizing: border-box;
}
.four figure {
    display: flex;
    align-items: center;
    position: relative;
    right: 9vw;
}
.four figure img {
    width: 30vw;
    height: 40vh;
}
.four article{
    grid-area: article;
}
/* section five */
.five {
    justify-items: center;
}
/* section six */
.six {
    justify-items: center;

}
.six figure {
    width: 70vw;
    height: 70vh;
    background-color: #d5b3ff;
    display: grid;
    grid-template-areas: 
    'aside content';
    align-items: center;
}
.six figure img:first-child{
    margin-left: 2em;
    width: 35vw;
    height: 35vh;
    position: relative;
    right: 15vw
}
.six figure img:last-child{
    margin-left: 3em;
    width: 40vw;
    height: 50vh;
}
/* section seven */
.seven{
    justify-content: center;
    display: flex;
}
.seven figure img {
    width: 50vw;
    height: 50vh;
}
.seven aside {
    background-color: #b1c5ff;
    width: 50vw;
    height: 50vh;
    display: grid;
    justify-items: center;
    align-content: center;
}
.seven aside h3, aside p{
    width: 60%;
}
.seven aside p a{
    color: blue;
}
.seven aside p a:hover{
    color: red;
}
/* footer */
 h1 {
    margin-left: 11.5vw;
    margin-bottom: 3vh;
}
.footart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footart article {
    width: 25vw;
    margin-bottom: 10vh;
}
.fa-square-facebook{
    color: #435B97;
}
.fa-square-twitter{
    color: #45AAE7;
}
.fa-youtube{
    color: #D01A20;
}
.fa-square-instagram{
    color: #FF8916;
}
button {
    background-color: blue;
    color:white;
    width: 8vw;
    height: 4vh;
    border: 0px;
}
input {
    margin-top: 1vh;
    width: 17vw;
    height: 4vh;
    background-color: #EDEFF1;
    border: 0px;
}
/* footbar */
.footer {
    font-size: smaller;
    justify-content: space-around;
    box-sizing: border-box;
    margin-left: 7vw;
}
.footer ul:first-child{
    width: 60vw;
}
.footer ul:last-child{
    width: 12vw;
}
.footer ul:first-child li {
    margin-right: 20px;
}
select{
    border: 0px;
}
#language{
    background-color: #EDEFF1;
    width: 8vw;
    height: 4vh;
}
#location {
    background-color: #EDEFF1;
    width: 15vw;
    height: 4vh;
}


